.text-heading{
    font-size: 30px;
    margin-left: 45px;
    font-weight: 600;
}

.text-normal {
    font-size: 20px;
    margin-left: 70px;
    font-weight: 400;
}

.sb-pictures {
    display: flex;
    flex-direction: column;
}