a{
    text-decoration: none;
}

td {
    width:25%;
}

.blocker25 {
    height: 25%;
    width: 100%;
    background-color: var(--body-color);
}

.blocker10 {
    height: 3rem;
    width: 100%;
    background-color: var(--body-color);
}

.blocker200 {
    height: 200px;
    width: 100%;
    background-color: var(--body-color);
}

.main-container {
    background-color: var(--body-color);
    flex-wrap: nowrap;
}
.top-container {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.topline {
    background-color: var(--überschrift-color);
    color: var(--text-color);
    position: fixed;
    height: 40px;
}

.middle-container {
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
}

.left-container{
    position: fixed;
    height: 100%;
    z-index: 40;
}
.mid-container {
    margin-left: 95px;
    padding: 10px;
}
.mid-container .top {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
}
.text-field {
    background-color: var(--body-color);
    color: var(--text-color);
    word-wrap: normal;
    margin: 2em 2em;
}
.large-heading {
    font-size: 90px;
    font-weight: 700;
    word-wrap: normal;
    color: var(--primary-color);
}
.small-heading {
    font-size: 60px;
    font-weight: 400;
}
.picture-field {
    background-color: var(--body-color);
    margin: 2em 2em;
    /* text-align: center; */
    min-width: 450px !important;
}

.mid-container .lower {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.projects-heading, .question-heading {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    max-width: 100%;
    color: var(--primary-color);
    font-size: 50px;
}

.projectcards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    text-align: center;
    font-family: arial;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    margin-top: 1em;
    border-radius: 10px;
    position: relative;
    padding: 5px;
}
.projectcards .project-image {
    background-color: white;
}
.projectcards .description {
    opacity: 0;
    transition: all .2s ease-in-out;
    overflow: hidden;
    height: 0;
    color: var(--project-text);
    font-weight: 500;
    font-size: 25px;
    padding: 10px;
}
.projectcards:hover {
    transition: 0.4;
    transform: scale(1.1);
}
/* aufdecken des Textes beim hoovern */
.projectcards:hover .description{
    position: absolute;
    opacity: 1;
    transition: all .2s ease-in-out;
    height: 100%;
    transform: translateY(-220px);
    color: var(--project-text);
    overflow-y: auto;
    max-height: 65%;
    top: 310px;
    left: 5px;
    right: 5px;
    scrollbar-width: none; /* Hide the default scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the default scrollbar for Internet Explorer and Edge */
    padding: 10px;
}

.projectcards:hover .description::-webkit-scrollbar {
    width: 0; /* Set width to 0 to hide the scrollbar */
    height: 0; /* Set height to 0 to hide the scrollbar */
}

.projectcards:hover .project-image{
    /* opacity: 0.7; */
    filter: blur(5px);
    transition: all .2s ease-in-out;
}
.projectcards .description-heading{
    transition: all .2s ease-in-out;
    color: var(--project-text);
    font-weight: 500;
    font-size: var(--large-text);
    margin-top: -5px;
}
.projectcards:hover .description-heading{
    opacity: 1;
    transform: translateY(-220px);
    transition: all .2s ease-in-out;
    color: var(--project-text);
}

.cv {
    color: var(--text-color);
    font-size: 40px;
    justify-content: space-around;
    gap: 10px;
}

.cv-card {
    background-color: #393E46;
    color: var(--text-color);
    height: auto;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    padding: 15px;
    margin-top: 2rem;
}

.cvheadline {
    color: var(--primary-color);
}

.cvList {
    list-style-type: circle;
    margin-top: 25px;
    color: var(--text-color);
}

.cvdiv {
    /* line-height: 1.1; */
    margin-top: 10px;
    color: var(--text-color);
}

/* popup */

.popup-container {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 9;
    width: 0px;
    height: 0px;
    background-color: green;
    transition: 0.5s;
}

.popup.active {
    width: 300px;
    height: 300px;
}

.popup::before {
    min-width: 300px;
    height: 300px;
    content: '';
}

.popup.active::before {
    width: 0px;
    height: 0px;
}

.popup .content {
    opacity: 0;
}

.popup.active .content {
    opacity: 1;
}

.popup-hide {
    display: none;
}

/* Poker */
.projectcards .description-poker {
    opacity: 0;
    transition: all .2s ease-in-out;
    overflow: hidden;
    height: 0;
    color: var(--project-text);
    font-weight: 500;
    font-size: 25px;
}

/* aufdecken des Textes beim hoovern */
.projectcards:hover .description-poker{
    position: absolute;
    opacity: 1;
    transition: all .2s ease-in-out;
    height: 100%;
    transform: translateY(-220px);
    color: var(--toggle-color);
}
.projectcards:hover {
    transition: 0.4;
    transform: scale(1.1);
}
.projectcards:hover .img-poker{
    filter: blur(5px);
    filter: brightness(50%);
    transition: all .2s ease-in-out;
}
.projectcards .description-heading-poker{
    transition: all .2s ease-in-out;
    color: var(--project-text);
    font-weight: 500;
    font-size: var(--large-text);
}
.projectcards:hover .description-heading-poker{
    opacity: 1;
    transform: translateY(-220px);
    transition: all .2s ease-in-out;
    color: var(--toggle-color);
}

.footer-text {
    color: var(--text-color);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

/* Faded animation */
.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}

/* Skill-Tabelle */
.skill-table {
    font-size: var(--small-text);
}

.progress {
    height: 25px;
}

.question-list {
    color: var(--text-color);
    font-size: 20px;
}
/* warum ich dropdown */
.dropdown-text {
    max-width: 45vw;
    margin-left: 1rem !important;
}

.dropdown-item {
    white-space: wrap !important;
    font-size: 20px;
}

.dropdown-button {
    width: 30vw;
    height: 10vh;
    min-width: 280px;
    min-height: 100px;
    font-size: 20px;
    font-weight: 600;
}

.dropdown-list li{
    padding: 10px;
    list-style-type: none;
}