a{
    text-decoration: none;
}

.blocker25 {
    height: 25%;
    width: 100%;
    background-color: var(--body-color);
}

.blocker10 {
    height: 10%;
    width: 100%;
    background-color: var(--body-color);
}

.blocker200 {
    height: 200px;
    width: 100%;
    background-color: var(--body-color);
}

.main-container {
    background-color: var(--body-color);
    flex-wrap: nowrap;
}
.top-container {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.topline {
    background-color: var(--überschrift-color);
    color: var(--text-color);
    position: fixed;
    height: 40px;
}

.middle-container {
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
}

.left-container{
    position: fixed;
    height: 100%;
}
.mid-container {
    margin-left: 88px;
}
.mid-container .top {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
}
.text-field {
    background-color: var(--body-color);
    color: var(--text-color);
    word-wrap: normal;
    margin: 2em 2em;
}
.large-heading {
    font-size: 70px;
    font-weight: 700;
    word-wrap: normal;
    color: var(--primary-color);
}
.small-heading {
    font-size: 40px;
    font-weight: 400;
}
.picture-field {
    background-color: var(--body-color);
    margin: 2em 2em;
    text-align: center;
}
.profilpicture {
    max-height: 700px;
    border-radius: 15px;
}

.mid-container .lower {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-heading {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    max-width: 100%;
    color: var(--project-text);
    font-size: 30px;
}

.projectcards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    text-align: center;
    font-family: arial;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    margin-top: 1em;
    border-radius: 10px;
}
.projectcards .description {
    opacity: 0;
    transition: all .2s ease-in-out;
    overflow: hidden;
    height: 0;
    color: var(--project-text);
    font-weight: 500;
    font-size: 25px;
}
.projectcards:hover {
    transition: 0.4;
    transform: scale(1.1);
}
/* aufdecken des Textes beim hoovern */
.projectcards:hover .description{
    position: absolute;
    opacity: 1;
    transition: all .2s ease-in-out;
    height: 100%;
    transform: translateY(-220px);
    color: var(--project-text);
}
.projectcards:hover img{
    /* opacity: 0.7; */
    filter: blur(5px);
    transition: all .2s ease-in-out;
}
.projectcards .description-heading{
    transition: all .2s ease-in-out;
    color: var(--project-text);
    font-weight: 500;
    font-size: 30px;
}
.projectcards:hover .description-heading{
    opacity: 1;
    transform: translateY(-220px);
    transition: all .2s ease-in-out;
    color: var(--project-text);
}

/* Slider */
.slider-box {
    height: 200px;
    width: 600px;

}

.slider-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
}

.slides-group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slides {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
}

.slides:first-child {
    display: block;
}
  
.slides:nth-of-type(1) {
    background: #D7A151;
}
  
.slides:nth-of-type(2) {
    background: #F4E4CD;
}
  
.slides:nth-of-type(3) {
    background: #C75534;
}
  
.slides:nth-of-type(4) {
    background: #D1D1D4;
}

.slider-button-view {
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: -120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
}
.slider-button-left, .slider-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.5;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
    outline: none;

}

.slider-button-left:hover, .slider-button-right:hover {
    opacity: 0.7;
}

.slide-buttonsRound {
    text-align: center;
    text-decoration: none;
}

a.slide-buttonsRoundmini {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
.slide-buttonsRoundmini.active, .slide-buttonsRoundmini:hover {
    color: #428CC6;
    cursor: pointer;
}

/* Faded animation */
.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-right {
    0% {
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.cv {
    color: var(--text-color);
    font-size: 30px;
    justify-content: space-around;
    gap: 10px;
}

.cv-card {
    background-color: #393E46;
    color: var(--text-color);
    height: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    padding: 15px;
}

.cvheadline {
    color: var(--primary-color);
}

.cvList {
    list-style-type: circle;
    margin-top: 25px;
    color: var(--text-color);
}

.cvdiv {
    /* line-height: 1.1; */
    margin-top: 10px;
    color: var(--text-color);
}