a{
    text-decoration: none;
}


.main-container {
    background-color: var(--body-color);
    flex-wrap: nowrap;
}
.top-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    
}
.topline {
    background-color: var(--überschrift-color);
    color: var(--text-color);
    position: fixed;
    height: 40px;
}
.middle-container {
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
}

.left-container{
    position: fixed;
    height: 100%;
}
.mid-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    /* das ist nicht gut gelöst */
    margin-left: 88px;
}
.mid-container .top {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text-field {
    background-color: var(--body-color);
    margin-top: 80px;
    color: var(--text-color);
    word-wrap: normal;
    margin: 2em 2em;
}
.large-heading {
    font-size: 70px;
    font-weight: 700;
    word-wrap: normal;
}
.small-heading {
    font-size: 40px;
    font-weight: 400;
}
.picture-field {
    background-color: var(--body-color);
    margin-top: 80px;
}
.profilpicture {
    max-height: 700px;
    margin: 2em 2em;
}

@media only screen and (max-width: 600px) {
    .profilpicture {
        max-width: 350px;  
    }
}

.mid-container .lower {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}
.projects-heading {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    max-width: 100%;
}
.projects {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projectcards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: var(--sidebar-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
}
.projectcards .description {
    opacity: 0;
    transition: all .2s ease-in-out;
    overflow: hidden;
    height: 0;
    color: #3a3b3c;
    font-weight: 400;
}
.projectcards:hover {
    transition: 0.4;
    transform: scale(1.1);
}
/* aufdecken des Textes beim hoovern */
.projectcards:hover .description{
    position: absolute;
    opacity: 1;
    transition: all .2s ease-in-out;
    height: 100%;
    transform: translateY(-220px);
}
.projectcards:hover img{
    opacity: 0.7;
    transition: all .2s ease-in-out;
}
.projectcards .description-heading{
    transition: all .2s ease-in-out;
    color: var(--project-text);
    font-weight: 500;
}
.projectcards:hover .description-heading{
    opacity: 1;
    transform: translateY(-220px);
    transition: all .2s ease-in-out;
    color: #3a3b3c;
}

/* Slider */
.slider-box {
    height: 100px;
    width: 400px;

}

.slider-view {
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
}

.slides-group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slides {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
}

.slides:first-child {
    display: block;
}
  
.slides:nth-of-type(1) {
    background: #D7A151;
}
  
.slides:nth-of-type(2) {
    background: #F4E4CD;
}
  
.slides:nth-of-type(3) {
    background: #C75534;
}
  
.slides:nth-of-type(4) {
    background: #D1D1D4;
}

.slider-button-view {
    height: 100px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 280px;
}
.slider-button-left, .slider-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.5;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
    outline: none;
}

.slider-button-left:hover, .slider-button-right:hover {
    opacity: 0.7;
}

.slide-buttonsRound {
    text-align: center;
    text-decoration: none;
}

a.slide-buttonsRoundmini {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
.slide-buttonsRoundmini.active, .slide-buttonsRoundmini:hover {
    color: #428CC6;
    cursor: pointer;
}