body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
.blocker {
    margin-top: 50px;
    height: 1000px;
}

/* Slider */
.slider-box {
    height: 200px;
    width: 600px;

}

.slider-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
}

.slides-group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slides {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
}

.slides:first-child {
    display: block;
}
  
.slides:nth-of-type(1) {
    background: #D7A151;
}
  
.slides:nth-of-type(2) {
    background: #F4E4CD;
}
  
.slides:nth-of-type(3) {
    background: #C75534;
}
  
.slides:nth-of-type(4) {
    background: #D1D1D4;
}

.slider-button-view {
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: -120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
}
.slider-button-left, .slider-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.5;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
    outline: none;

}

.slider-button-left:hover, .slider-button-right:hover {
    opacity: 0.7;
}

.slide-buttonsRound {
    text-align: center;
    text-decoration: none;
}

a.slide-buttonsRoundmini {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
.slide-buttonsRoundmini.active, .slide-buttonsRoundmini:hover {
    color: #428CC6;
    cursor: pointer;
}

/* Faded animation */
.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-right {
    0% {
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}

.cv {
    color: var(--text-color);
    font-size: 40px;
    justify-content: space-around;
    gap: 10px;
}

.cv-card {
    background-color: #393E46;
    color: var(--text-color);
    height: auto;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    padding: 15px;
    margin-top: 2rem;
}

.cvheadline {
    color: var(--primary-color);
}

.cvList {
    list-style-type: circle;
    margin-top: 25px;
    color: var(--text-color);
}

.cvdiv {
    /* line-height: 1.1; */
    margin-top: 10px;
    color: var(--text-color);
}

.sidebar-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100vh;
    background-color: #393E46;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: width 3s ease-in-out;
}

.open {
    width: 500px;
    /* transition: transform 0.3s ease-in-out; */
}